# Core packages
numpy<2.0
tensorflow==2.11.0
opencv-python
pandas
matplotlib
scipy
pillow

# Audio
PyAudio
pygame

# NLP and ML
transformers
sentencepiece
gtts
openai-whisper
deepface
ultralytics
supervision

# Web
flask

# Robotics
rospkg